node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
static/pico-main/.gitignore
static/pico-main/.node-version
static/pico-main/.nvmrc
static/pico-main/.prettierrc
static/pico-main/composer.json
static/pico-main/LICENSE.md
static/pico-main/package.json
static/pico-main/README.md
static/pico-main/yarn.lock
static/pico-main/.github/CONTRIBUTING.md
static/pico-main/.github/logo-dark.svg
static/pico-main/.github/logo-light.svg
static/pico-main/.github/ISSUE_TEMPLATE/bug_report.md
static/pico-main/.github/ISSUE_TEMPLATE/config.yml
static/pico-main/css/pico.amber.css
static/pico-main/css/pico.amber.min.css
static/pico-main/css/pico.blue.css
static/pico-main/css/pico.blue.min.css
static/pico-main/css/pico.classless.amber.css
static/pico-main/css/pico.classless.amber.min.css
static/pico-main/css/pico.classless.blue.css
static/pico-main/css/pico.classless.blue.min.css
static/pico-main/css/pico.classless.conditional.amber.css
static/pico-main/css/pico.classless.conditional.amber.min.css
static/pico-main/css/pico.classless.conditional.blue.css
static/pico-main/css/pico.classless.conditional.blue.min.css
static/pico-main/css/pico.classless.conditional.cyan.css
static/pico-main/css/pico.classless.conditional.cyan.min.css
static/pico-main/css/pico.classless.conditional.fuchsia.css
static/pico-main/css/pico.classless.conditional.fuchsia.min.css
static/pico-main/css/pico.classless.conditional.green.css
static/pico-main/css/pico.classless.conditional.green.min.css
static/pico-main/css/pico.classless.conditional.grey.css
static/pico-main/css/pico.classless.conditional.grey.min.css
static/pico-main/css/pico.classless.conditional.indigo.css
static/pico-main/css/pico.classless.conditional.indigo.min.css
static/pico-main/css/pico.classless.conditional.jade.css
static/pico-main/css/pico.classless.conditional.jade.min.css
static/pico-main/css/pico.classless.conditional.lime.css
static/pico-main/css/pico.classless.conditional.lime.min.css
static/pico-main/css/pico.classless.conditional.orange.css
static/pico-main/css/pico.classless.conditional.orange.min.css
static/pico-main/css/pico.classless.conditional.pink.css
static/pico-main/css/pico.classless.conditional.pink.min.css
static/pico-main/css/pico.classless.conditional.pumpkin.css
static/pico-main/css/pico.classless.conditional.pumpkin.min.css
static/pico-main/css/pico.classless.conditional.purple.css
static/pico-main/css/pico.classless.conditional.purple.min.css
static/pico-main/css/pico.classless.conditional.red.css
static/pico-main/css/pico.classless.conditional.red.min.css
static/pico-main/css/pico.classless.conditional.sand.css
static/pico-main/css/pico.classless.conditional.sand.min.css
static/pico-main/css/pico.classless.conditional.slate.css
static/pico-main/css/pico.classless.conditional.slate.min.css
static/pico-main/css/pico.classless.conditional.violet.css
static/pico-main/css/pico.classless.conditional.violet.min.css
static/pico-main/css/pico.classless.conditional.yellow.css
static/pico-main/css/pico.classless.conditional.yellow.min.css
static/pico-main/css/pico.classless.conditional.zinc.css
static/pico-main/css/pico.classless.conditional.zinc.min.css
static/pico-main/css/pico.classless.css
static/pico-main/css/pico.classless.cyan.css
static/pico-main/css/pico.classless.cyan.min.css
static/pico-main/css/pico.classless.fuchsia.css
static/pico-main/css/pico.classless.fuchsia.min.css
static/pico-main/css/pico.classless.green.css
static/pico-main/css/pico.classless.green.min.css
static/pico-main/css/pico.classless.grey.css
static/pico-main/css/pico.classless.grey.min.css
static/pico-main/css/pico.classless.indigo.css
static/pico-main/css/pico.classless.indigo.min.css
static/pico-main/css/pico.classless.jade.css
static/pico-main/css/pico.classless.jade.min.css
static/pico-main/css/pico.classless.lime.css
static/pico-main/css/pico.classless.lime.min.css
static/pico-main/css/pico.classless.min.css
static/pico-main/css/pico.classless.orange.css
static/pico-main/css/pico.classless.orange.min.css
static/pico-main/css/pico.classless.pink.css
static/pico-main/css/pico.classless.pink.min.css
static/pico-main/css/pico.classless.pumpkin.css
static/pico-main/css/pico.classless.pumpkin.min.css
static/pico-main/css/pico.classless.purple.css
static/pico-main/css/pico.classless.purple.min.css
static/pico-main/css/pico.classless.red.css
static/pico-main/css/pico.classless.red.min.css
static/pico-main/css/pico.classless.sand.css
static/pico-main/css/pico.classless.sand.min.css
static/pico-main/css/pico.classless.slate.css
static/pico-main/css/pico.classless.slate.min.css
static/pico-main/css/pico.classless.violet.css
static/pico-main/css/pico.classless.violet.min.css
static/pico-main/css/pico.classless.yellow.css
static/pico-main/css/pico.classless.yellow.min.css
static/pico-main/css/pico.classless.zinc.css
static/pico-main/css/pico.classless.zinc.min.css
static/pico-main/css/pico.colors.css
static/pico-main/css/pico.colors.min.css
static/pico-main/css/pico.conditional.amber.css
static/pico-main/css/pico.conditional.amber.min.css
static/pico-main/css/pico.conditional.blue.css
static/pico-main/css/pico.conditional.blue.min.css
static/pico-main/css/pico.conditional.css
static/pico-main/css/pico.conditional.cyan.css
static/pico-main/css/pico.conditional.cyan.min.css
static/pico-main/css/pico.conditional.fuchsia.css
static/pico-main/css/pico.conditional.fuchsia.min.css
static/pico-main/css/pico.conditional.green.css
static/pico-main/css/pico.conditional.green.min.css
static/pico-main/css/pico.conditional.grey.css
static/pico-main/css/pico.conditional.grey.min.css
static/pico-main/css/pico.conditional.indigo.css
static/pico-main/css/pico.conditional.indigo.min.css
static/pico-main/css/pico.conditional.jade.css
static/pico-main/css/pico.conditional.jade.min.css
static/pico-main/css/pico.conditional.lime.css
static/pico-main/css/pico.conditional.lime.min.css
static/pico-main/css/pico.conditional.min.css
static/pico-main/css/pico.conditional.orange.css
static/pico-main/css/pico.conditional.orange.min.css
static/pico-main/css/pico.conditional.pink.css
static/pico-main/css/pico.conditional.pink.min.css
static/pico-main/css/pico.conditional.pumpkin.css
static/pico-main/css/pico.conditional.pumpkin.min.css
static/pico-main/css/pico.conditional.purple.css
static/pico-main/css/pico.conditional.purple.min.css
static/pico-main/css/pico.conditional.red.css
static/pico-main/css/pico.conditional.red.min.css
static/pico-main/css/pico.conditional.sand.css
static/pico-main/css/pico.conditional.sand.min.css
static/pico-main/css/pico.conditional.slate.css
static/pico-main/css/pico.conditional.slate.min.css
static/pico-main/css/pico.conditional.violet.css
static/pico-main/css/pico.conditional.violet.min.css
static/pico-main/css/pico.conditional.yellow.css
static/pico-main/css/pico.conditional.yellow.min.css
static/pico-main/css/pico.conditional.zinc.css
static/pico-main/css/pico.conditional.zinc.min.css
static/pico-main/css/pico.css
static/pico-main/css/pico.cyan.css
static/pico-main/css/pico.cyan.min.css
static/pico-main/css/pico.fluid.classless.amber.css
static/pico-main/css/pico.fluid.classless.amber.min.css
static/pico-main/css/pico.fluid.classless.blue.css
static/pico-main/css/pico.fluid.classless.blue.min.css
static/pico-main/css/pico.fluid.classless.conditional.amber.css
static/pico-main/css/pico.fluid.classless.conditional.amber.min.css
static/pico-main/css/pico.fluid.classless.conditional.blue.css
static/pico-main/css/pico.fluid.classless.conditional.blue.min.css
static/pico-main/css/pico.fluid.classless.conditional.cyan.css
static/pico-main/css/pico.fluid.classless.conditional.cyan.min.css
static/pico-main/css/pico.fluid.classless.conditional.fuchsia.css
static/pico-main/css/pico.fluid.classless.conditional.fuchsia.min.css
static/pico-main/css/pico.fluid.classless.conditional.green.css
static/pico-main/css/pico.fluid.classless.conditional.green.min.css
static/pico-main/css/pico.fluid.classless.conditional.grey.css
static/pico-main/css/pico.fluid.classless.conditional.grey.min.css
static/pico-main/css/pico.fluid.classless.conditional.indigo.css
static/pico-main/css/pico.fluid.classless.conditional.indigo.min.css
static/pico-main/css/pico.fluid.classless.conditional.jade.css
static/pico-main/css/pico.fluid.classless.conditional.jade.min.css
static/pico-main/css/pico.fluid.classless.conditional.lime.css
static/pico-main/css/pico.fluid.classless.conditional.lime.min.css
static/pico-main/css/pico.fluid.classless.conditional.orange.css
static/pico-main/css/pico.fluid.classless.conditional.orange.min.css
static/pico-main/css/pico.fluid.classless.conditional.pink.css
static/pico-main/css/pico.fluid.classless.conditional.pink.min.css
static/pico-main/css/pico.fluid.classless.conditional.pumpkin.css
static/pico-main/css/pico.fluid.classless.conditional.pumpkin.min.css
static/pico-main/css/pico.fluid.classless.conditional.purple.css
static/pico-main/css/pico.fluid.classless.conditional.purple.min.css
static/pico-main/css/pico.fluid.classless.conditional.red.css
static/pico-main/css/pico.fluid.classless.conditional.red.min.css
static/pico-main/css/pico.fluid.classless.conditional.sand.css
static/pico-main/css/pico.fluid.classless.conditional.sand.min.css
static/pico-main/css/pico.fluid.classless.conditional.slate.css
static/pico-main/css/pico.fluid.classless.conditional.slate.min.css
static/pico-main/css/pico.fluid.classless.conditional.violet.css
static/pico-main/css/pico.fluid.classless.conditional.violet.min.css
static/pico-main/css/pico.fluid.classless.conditional.yellow.css
static/pico-main/css/pico.fluid.classless.conditional.yellow.min.css
static/pico-main/css/pico.fluid.classless.conditional.zinc.css
static/pico-main/css/pico.fluid.classless.conditional.zinc.min.css
static/pico-main/css/pico.fluid.classless.css
static/pico-main/css/pico.fluid.classless.cyan.css
static/pico-main/css/pico.fluid.classless.cyan.min.css
static/pico-main/css/pico.fluid.classless.fuchsia.css
static/pico-main/css/pico.fluid.classless.fuchsia.min.css
static/pico-main/css/pico.fluid.classless.green.css
static/pico-main/css/pico.fluid.classless.green.min.css
static/pico-main/css/pico.fluid.classless.grey.css
static/pico-main/css/pico.fluid.classless.grey.min.css
static/pico-main/css/pico.fluid.classless.indigo.css
static/pico-main/css/pico.fluid.classless.indigo.min.css
static/pico-main/css/pico.fluid.classless.jade.css
static/pico-main/css/pico.fluid.classless.jade.min.css
static/pico-main/css/pico.fluid.classless.lime.css
static/pico-main/css/pico.fluid.classless.lime.min.css
static/pico-main/css/pico.fluid.classless.min.css
static/pico-main/css/pico.fluid.classless.orange.css
static/pico-main/css/pico.fluid.classless.orange.min.css
static/pico-main/css/pico.fluid.classless.pink.css
static/pico-main/css/pico.fluid.classless.pink.min.css
static/pico-main/css/pico.fluid.classless.pumpkin.css
static/pico-main/css/pico.fluid.classless.pumpkin.min.css
static/pico-main/css/pico.fluid.classless.purple.css
static/pico-main/css/pico.fluid.classless.purple.min.css
static/pico-main/css/pico.fluid.classless.red.css
static/pico-main/css/pico.fluid.classless.red.min.css
static/pico-main/css/pico.fluid.classless.sand.css
static/pico-main/css/pico.fluid.classless.sand.min.css
static/pico-main/css/pico.fluid.classless.slate.css
static/pico-main/css/pico.fluid.classless.slate.min.css
static/pico-main/css/pico.fluid.classless.violet.css
static/pico-main/css/pico.fluid.classless.violet.min.css
static/pico-main/css/pico.fluid.classless.yellow.css
static/pico-main/css/pico.fluid.classless.yellow.min.css
static/pico-main/css/pico.fluid.classless.zinc.css
static/pico-main/css/pico.fluid.classless.zinc.min.css
static/pico-main/css/pico.fuchsia.css
static/pico-main/css/pico.fuchsia.min.css
static/pico-main/css/pico.green.css
static/pico-main/css/pico.green.min.css
static/pico-main/css/pico.grey.css
static/pico-main/css/pico.grey.min.css
static/pico-main/css/pico.indigo.css
static/pico-main/css/pico.indigo.min.css
static/pico-main/css/pico.jade.css
static/pico-main/css/pico.jade.min.css
static/pico-main/css/pico.lime.css
static/pico-main/css/pico.lime.min.css
static/pico-main/css/pico.min.css
static/pico-main/css/pico.orange.css
static/pico-main/css/pico.orange.min.css
static/pico-main/css/pico.pink.css
static/pico-main/css/pico.pink.min.css
static/pico-main/css/pico.pumpkin.css
static/pico-main/css/pico.pumpkin.min.css
static/pico-main/css/pico.purple.css
static/pico-main/css/pico.purple.min.css
static/pico-main/css/pico.red.css
static/pico-main/css/pico.red.min.css
static/pico-main/css/pico.sand.css
static/pico-main/css/pico.sand.min.css
static/pico-main/css/pico.slate.css
static/pico-main/css/pico.slate.min.css
static/pico-main/css/pico.violet.css
static/pico-main/css/pico.violet.min.css
static/pico-main/css/pico.yellow.css
static/pico-main/css/pico.yellow.min.css
static/pico-main/css/pico.zinc.css
static/pico-main/css/pico.zinc.min.css
static/pico-main/css/postcss.config.js
static/pico-main/scripts/build-themes.js
static/pico-main/scss/_index.scss
static/pico-main/scss/_settings.scss
static/pico-main/scss/pico.classless.scss
static/pico-main/scss/pico.colors.scss
static/pico-main/scss/pico.conditional.scss
static/pico-main/scss/pico.fluid.classless.scss
static/pico-main/scss/pico.scss
static/pico-main/scss/postcss.config.js
static/pico-main/scss/colors/_index.scss
static/pico-main/scss/colors/utilities/_background-colors.scss
static/pico-main/scss/colors/utilities/_colors.scss
static/pico-main/scss/colors/utilities/_css-vars.scss
static/pico-main/scss/colors/utilities/_index.scss
static/pico-main/scss/colors/utilities/_settings.scss
static/pico-main/scss/colors/utilities/_utils.scss
static/pico-main/scss/components/_accordion.scss
static/pico-main/scss/components/_card.scss
static/pico-main/scss/components/_dropdown.scss
static/pico-main/scss/components/_group.scss
static/pico-main/scss/components/_loading.scss
static/pico-main/scss/components/_modal.scss
static/pico-main/scss/components/_nav.scss
static/pico-main/scss/components/_progress.scss
static/pico-main/scss/components/_tooltip.scss
static/pico-main/scss/content/_button.scss
static/pico-main/scss/content/_code.scss
static/pico-main/scss/content/_embedded.scss
static/pico-main/scss/content/_figure.scss
static/pico-main/scss/content/_link.scss
static/pico-main/scss/content/_miscs.scss
static/pico-main/scss/content/_table.scss
static/pico-main/scss/content/_typography.scss
static/pico-main/scss/forms/_basics.scss
static/pico-main/scss/forms/_checkbox-radio-switch.scss
static/pico-main/scss/forms/_input-color.scss
static/pico-main/scss/forms/_input-date.scss
static/pico-main/scss/forms/_input-file.scss
static/pico-main/scss/forms/_input-range.scss
static/pico-main/scss/forms/_input-search.scss
static/pico-main/scss/helpers/_copyright.scss
static/pico-main/scss/helpers/_functions.scss
static/pico-main/scss/layout/_container.scss
static/pico-main/scss/layout/_document.scss
static/pico-main/scss/layout/_grid.scss
static/pico-main/scss/layout/_landmarks.scss
static/pico-main/scss/layout/_overflow-auto.scss
static/pico-main/scss/layout/_section.scss
static/pico-main/scss/themes/_default.scss
static/pico-main/scss/themes/default/_dark.scss
static/pico-main/scss/themes/default/_light.scss
static/pico-main/scss/themes/default/_schemes.scss
static/pico-main/scss/themes/default/_styles.scss
static/pico-main/scss/themes/default/_theme-colors.scss
static/pico-main/scss/utilities/_accessibility.scss
static/pico-main/scss/utilities/_reduce-motion.scss
caddy.exe
